.footer {
  background-color: #2223338c;
  z-index: 1;
  position: fixed;
  bottom: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  button {
    background: none;
    border: none;
    color: #9b9898;
    cursor: pointer;

    &:hover {
        color: #c9c9c9;
    }

  }

  .footer p {
    margin: 0;
  }
}
