input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.top-row {
  display: flex;
  margin: 0 0 10px 0;

  * {
    margin: 5px;
  }
}

.error {
  color: crimson;
}

.ok {
}

input {
  border-radius: 0.5rem;
  border: none;
  background: #222333;
  color: aliceblue;
}

.checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px !important;
  transition: box-shadow 0.3s;
  background: aliceblue;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.checkbox:checked {
  box-shadow: inset 0 0 0 20px green;
}

.cell {
  input {
    width: 30px;
    height: 30px;
    margin: 2px;
    padding: 0 3px;
    align-items: center;
  }
  span {
    color: aliceblue;
    margin: 5px;
  }
}

.first-row {
  display: flex;
  justify-content: end;
  span {
    color: aliceblue;
    margin: 5px 16px !important;
  }
}

.matrix {
  background-color: #2223338c;
  padding: 5px;
  border-radius: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
  background-color: #2223338c;
  padding: 5px;
  border-radius: 0.5rem;
  min-width: 300px;

  .column-child {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: end;
    align-items: center;

    .column-child-cell {
      flex: 1;
      display: flex;

      .button,
      a,
      label {
        flex: 1;
        margin: 0px 2px;
      }
    }

    label {
      color: aliceblue;
    }

    input {
      height: 36px;
      text-align: end;
    }

    input[type="number"] {
      flex: 1;
      padding: 0 10px;
      width: 85%;
    }

    button {
      margin: 0 0 0 5px;
    }
  }

  .button-row {
    a,
    button {
      margin: 2px;
      flex: 1;
    }
  }
}
